@charset "UTF-8";
table{
	width: 90%;
	border-collapse: collapse;
}

.write{
	text-align: right;
	border-bottom: none;
	width: 90%;
	padding:0 5px;
}
.main{
	width: 90%;
    border-collapse: collapse;
	text-align:center;
}
.main th, td {
    border-bottom: 1px solid gray;
    padding: 10px;
}
.main caption {
    border-bottom: 1px solid gray;
    padding: 0 0 30px;
    font-size:2rem;
}
th{
	background:#eff2f5;
	
	width : 120px;
}
.pageNo{
	text-align: center;
	border-bottom: none;
	padding:20px 10px;
}
hr{
	border: 1px ;
	background:#5e6b9e;
	height:1px;
	margin-bottom:20px;
}
.bottom{
	text-align: center;
	border-bottom: none;
	padding:20px 10px;
}
.text{
	border:none;
}
.content{
	background:#eff2f5;
	text-align: center;
	border-bottom: none;
}
.count{
	border-bottom: none;
}
.bottomMenu{
	border: 1px solid gray;
	padding: 5px 10px;
	margig: 0 10px;
	border-radius:7px;
	background:white;
}

.title{	
	width: 300px;
	height:40px;	
}
.total{
	text-align: right;
}