@charset "UTF-8";
hr{
	border: 0;
	background:#5e6b9e;
	height:2px;
	margin-bottom:15px;
	margin-top:15px;
	width:90%;
	opacity: 0.6;
}
.tb{
	width:290px;
	margin:0 auto 0 auto;
	text-align:center;
}
.alllist{
	width:300px;
	height: 510px;
	float: left;
	margin: 50px 10px 0 80px;
}
.img{
	width:250px;
	height:350px;
	border:1px solid gray;
}
.divImg{
	width:300px;
	height:350px;
	margin: 0;
}
.title{
	font-size:1.2rem;
	font-weight:600;
	margin:8px 2px 8px;
	text-align:center;
	padding: 3px 3px;
}
.writer{
	font-size:0.8rem;
	margin:0 0 8px;
}
.publish{
	font-size:0.8rem;
	margin:0 0 8px;
}
.div{
	margin:0 0 8px;
}
.price{
	font-size:1.3rem;
	font-weight:600;
	color:#1212ed;
}
.dc{
	font-size:1rem;
	color:red;
}
.date{
	font-size:1rem;
}
.content{
	width:180px;
	font-size:1.1rem;
	margin:0 0 5px;
	border-top:dotted 1px #5e6b9e;
	padding:10px 300px 10px 1px;
	opacity: 0.7;
	line-height:1.8em;
}
.barImage{
	width:70px;
}
.sideBar {
    width:100px;
    height:410px;
    position: fixed;
    bottom: 10px;
    right:30px;
    padding-top: 20px;
}
.sideBarT{
	width:100px;
    background:#eff2f5;
	border:1px solid #e0e6eb;
	border-collapse: collapse;
}
.sideTd{
	border-bottom: 1px solid #e0e6eb;
	padding: 7px 7px;
}
.side{
	display: table-cell;
    width:90px;
	background:white;
    border: solid 1px #ebebeb;
}
.sideTh{
	background:white;
}
